html, body {
  height: 98%;
  margin: 3px;
  overflow: hidden;
}

body {
  background: #696969;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pane {
  display: flex;
}

#input, #textarea {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

#input {
  height: 50%;
  min-height: 50px;
}

#output {
  flex-grow: 1;
  min-height: 50px;
}

#textarea {
  background: black;
  color: white;
  resize: none;
}

#resizer {
  height: 8px;
  background: #333;
  cursor: row-resize;
  flex-shrink: 0;
}

#resizer:hover {
  background: #555;
}
